body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6f2;
}
.texto-esquerda {
    text-align: center; /* Isso alinha o texto à esquerda */
    margin: 1px;
}

.lista {
    list-style: none;
    padding: 0;
}

.lista li {
    margin: 1px;
}


.lista a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: #ff66b2;
    color: white;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s;
}

.lista a:hover {
    background-color: #ff3385;
}
.container {
    width: 300px; /* Define um tamanho para o quadrado */
    margin: 2px auto;
    padding: 2px;
    background-color: white;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Suave sombra para destacar */
}
