body {
    font-family: Arial, sans-serif;
    background-color: #ffd6ea;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ffd6ea;
    padding: 20px;
    color: white;
    font-size: 24px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.item {
    background-color: #ff99cc;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}
.item img {
    width: 210px; /* Define a largura fixa */
    height: 250px; /* Define a altura fixa */
    object-fit: cover; /* Garante que a imagem se ajuste ao espaço sem distorção */
    border-radius: 10px;
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Reduz o número de colunas */
    }
}
.icone {
    width: 50px; /* Define o tamanho do ícone */
    height: 50px;
    transition: transform 0.3s ease-in-out; /* Suaviza o efeito */
}

.icone:hover {
    transform: translateY(-10px); /* Faz o ícone "subir" */
}
